@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a style="margin-top:10px" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77nw4xwvs6cvcf&redirect_uri=https://localhost:7015/Home/RedirectLinkedIN&state=987654321&scope=openid,profile,email"
       class="btn btn-primary">Login with LinkedIN</a>
</div>
