@model LinkedINUserInfo
@{
    ViewData["Title"] = "LinkedIN User Details";
}

<div class="row">
    <div class="col-6 text-center">
  
        <div class="card" style="width:400px">
            <img class="card-img-top" src="@Model.Image" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">@Model.Name</h4>
            </div>
        </div>

    </div>
</div>
